
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
/var/cache
/var/log
/public/uploads/pdfs
###< symfony/framework-bundle ###
