{% extends 'base.html.twig' %}

{% block title %}MSINGMD|404{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                404! Your page was not found!
            </div>
        </div>
    </div>
{% endblock %}