{% extends 'base.html.twig' %}

{% block title %}
    MSINGMD|Comment on file
{% endblock %}

{% block body  %}
    <div class="container">
        <div class="col">
            <center>
                You are logged in as <a class="font-weight-bold">{{ app.user.username }}</a> ({{ app.user.userType }})
            </center>
        </div>
        <p></p>
        <div class="row">
            <center>
                <h5>Currently commenting on user:  {{ userMail }}</h5>
            </center>
        </div>
        <div class="row form-control-lg">

           <form method="post" action="">
               <div class="form-group ">
                   <textarea class="form-control rounded-0 col-lg-12" cols="200%" rows="30" name="comment">{{ comment }}</textarea>
               </div>
               <div class="form-group">
                   <input type="submit" name="submit" value="Comment">
               </div>
           </form>

        </div>
    </div>
{% endblock %}
